/Compress/build/
/Decompress/nbproject/private/
/HuffmanCompress/nbproject/private/
/HuffmanCompress/build/
/HuffmanCompress/dist/
/Decompress/build/
/Decompress/dist/
/nayukihuffman/nbproject/private/
/nayukihuffman/build/
/HuffmanC/.nb-gradle/
/HuffmanC/build/
/HuffmanD/.nb-gradle/
/HuffmanD/build/